In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, inspect, func
import os, sys
import datetime as dt
from config import config

In [2]:
key = config.db_key
engine = create_engine('postgresql://postgres:'+key+'@localhost:5432/Brazilian E-Commerce')
connection = engine.connect()
#find tables in DB
tables=engine.table_names()
tables

['stg_olist_order_payments_dataset',
 'stg_olist_order_reviews_dataset',
 'order_payments',
 'stg_olist_orders_dataset',
 'orders',
 'date_dim',
 'stg_olist_customer_dataset',
 'order_reviews']

In [3]:
#Pull data from stg_olist_order_payments_dataset table
stg_order_payments_df=pd.read_sql("select * from stg_olist_order_payments_dataset", connection)
stg_order_payments_df.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [7]:
order_payments_df=stg_order_payments_df[['order_id', 'payment_sequential', 'payment_type','payment_installments', 'payment_value']].copy()
order_payments_df.head()
order_payments_df.to_sql(name='order_payments', con=engine, if_exists='append', index=False)

In [8]:
pd.read_sql("select * from order_payments", connection).head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value,create_date,created_by,changed_date,changed_by
0,cebaf65c7b34d3f42d887421dbaa1a30,1,credit_card,1,38.09,2021-02-23,postgres,None,None
1,c9b045114b2a561d952e2b7a3e7593b3,1,credit_card,8,261.96,2021-02-23,postgres,None,None
2,e35528176e3374bcb21842931b5a3e8a,1,boleto,1,118.81,2021-02-23,postgres,None,None
3,0fb1f7c7042e9fa84d8d415c5fdec5c9,1,credit_card,1,29.10,2021-02-23,postgres,None,None
4,558664b1fbd872709e44602c70ff9256,5,voucher,1,15.27,2021-02-23,postgres,None,None

In [4]:
stg_order_reviews_df=pd.read_sql("select * from stg_olist_order_reviews_dataset", connection)
stg_order_reviews_df.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,None,None,2018-01-18,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,None,None,2018-03-10,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,None,None,2018-02-17,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,None,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,None,Parab√©ns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53

In [5]:
order_reviews_df=stg_order_reviews_df[['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date']].copy()
order_reviews_df['sk_review_creation_dt'] = stg_order_reviews_df['review_creation_date'].apply(lambda x: int(x.strftime('%Y%m%d')))
order_reviews_df['review_answer_timestamp']=stg_order_reviews_df['review_answer_timestamp'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
order_reviews_df['sk_review_answer_dt']=stg_order_reviews_df['review_answer_timestamp'].apply(lambda x: int(x[:x.find(' ')].replace('-','')))
order_reviews_df.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,sk_review_creation_dt,review_answer_timestamp,sk_review_answer_dt
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,None,None,2018-01-18,20180118,2018-01-18 21:46:59,20180118
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,None,None,2018-03-10,20180310,2018-03-11 03:05:13,20180311
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,None,None,2018-02-17,20180217,2018-02-18 14:36:24,20180218
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,None,Recebi bem antes do prazo estipulado.,2017-04-21,20170421,2017-04-21 22:02:06,20170421
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,None,Parab√©ns lojas lannister adorei comprar pela I...,2018-03-01,20180301,2018-03-02 10:26:53,20180302

In [6]:
order_reviews_df.to_sql(name='order_reviews', con=engine, if_exists='append', index=False)

In [7]:
pd.read_sql("select * from order_reviews", connection).head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,sk_review_creation_dt,review_answer_timestamp,sk_review_answer_dt,create_date,created_by,changed_date,changed_by
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,None,None,2018-01-18,20180118,2018-01-18 21:46:59,20180118,None,None,None,None
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,None,None,2018-03-10,20180310,2018-03-11 03:05:13,20180311,None,None,None,None
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,None,None,2018-02-17,20180217,2018-02-18 14:36:24,20180218,None,None,None,None
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,None,Recebi bem antes do prazo estipulado.,2017-04-21,20170421,2017-04-21 22:02:06,20170421,None,None,None,None
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,None,Parab√©ns lojas lannister adorei comprar pela I...,2018-03-01,20180301,2018-03-02 10:26:53,20180302,None,None,None,None

In [8]:
stg_orders_df=pd.read_sql("select * from stg_olist_orders_dataset", connection)
stg_orders_df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

In [10]:
orders_df=stg_orders_df[['order_id', 'customer_id', 'order_status']].copy()
orders_df['order_purchase_timestamp']=stg_orders_df['order_purchase_timestamp'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') if (x!=None) else None)
orders_df['sk_order_purchase_dt']=stg_orders_df['order_purchase_timestamp'].apply(lambda x: int(x[:x.find(' ')].replace('-','')) if (x!=None) else None)

orders_df['order_approved_at']=stg_orders_df['order_approved_at'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') if (x!=None) else None)
orders_df['sk_order_approved_at_dt']=stg_orders_df['order_approved_at'].apply(lambda x: int(x[:x.find(' ')].replace('-','')) if (x!=None) else None)

orders_df['order_delivered_carrier_date']=stg_orders_df['order_delivered_carrier_date'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') if (x!=None) else None)
orders_df['sk_order_delivered_carrier_dt']=stg_orders_df['order_delivered_carrier_date'].apply(lambda x: int(x[:x.find(' ')].replace('-','')) if (x!=None) else None)

orders_df['order_delivered_customer_date']=stg_orders_df['order_delivered_customer_date'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') if (x!=None) else None)
orders_df['sk_order_delivered_customer_dt']=stg_orders_df['order_delivered_customer_date'].apply(lambda x: int(x[:x.find(' ')].replace('-','')) if (x!=None) else None)

orders_df['order_estimated_delivery_date']=stg_orders_df['order_estimated_delivery_date']
orders_df['sk_order_estimated_delivery_dt']=stg_orders_df['order_estimated_delivery_date'].apply(lambda x: int(x.strftime('%Y%m%d')))

orders_df.head(10)

,order_id,customer_id,order_status,order_purchase_timestamp,sk_order_purchase_dt,order_approved_at,sk_order_approved_at_dt,order_delivered_carrier_date,sk_order_delivered_carrier_dt,order_delivered_customer_date,sk_order_delivered_customer_dt,order_estimated_delivery_date,sk_order_estimated_delivery_dt
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,20171002,2017-10-02 11:07:15,20171002.0,2017-10-04 19:55:00,20171004.0,2017-10-10 21:25:13,20171010.0,2017-10-18,20171018
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,20180724,2018-07-26 03:24:27,20180726.0,2018-07-26 14:31:00,20180726.0,2018-08-07 15:27:45,20180807.0,2018-08-13,20180813
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,20180808,2018-08-08 08:55:23,20180808.0,2018-08-08 13:50:00,20180808.0,2018-08-17 18:06:29,20180817.0,2018-09-04,20180904
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,20171118,2017-11-18 19:45:59,20171118.0,2017-11-22 13:39:59,20171122.0,2017-12-02 00:28:42,20171202.0,2017-12-15,20171215
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,20180213,2018-02-13 22:20:29,20180213.0,2018-02-14 19:46:34,20180214.0,2018-02-16 18:17:02,20180216.0,2018-02-26,20180226
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,20170709,2017-07-09 22:10:13,20170709.0,2017-07-11 14:58:04,20170711.0,2017-07-26 10:57:55,20170726.0,2017-08-01,20170801
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,20170411,2017-04-13 13:25:17,20170413.0,NaT,NaN,NaT,NaN,2017-05-09,20170509
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:30,20170516,2017-05-16 13:22:11,20170516.0,2017-05-22 10:07:46,20170522.0,2017-05-26 12:55:51,20170526.0,2017-06-07,20170607
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,20170123,2017-01-25 02:50:47,20170125.0,2017-01-26 14:16:31,20170126.0,2017-02-02 14:08:10,20170202.0,2017-03-06,20170306
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,20170729,2017-07-29 12:05:32,20170729.0,2017-08-10 19:45:24,20170810.0,2017-08-16 17:14:30,20170816.0,2017-08-23,20170823

In [11]:
orders_df.to_sql(name='orders', con=engine, if_exists='append', index=False)

In [12]:
pd.read_sql("select * from orders", connection).head()

,order_id,customer_id,order_status,order_purchase_timestamp,sk_order_purchase_dt,order_approved_at,sk_order_approved_at_dt,order_delivered_carrier_date,sk_order_delivered_carrier_dt,order_delivered_customer_date,sk_order_delivered_customer_dt,order_estimated_delivery_date,sk_order_estimated_delivery_dt,create_date,created_by,changed_date,changed_by
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,20171002,2017-10-02 11:07:15,20171002.0,2017-10-04 19:55:00,20171004.0,2017-10-10 21:25:13,20171010.0,2017-10-18,20171018,2021-02-23,postgres,None,None
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,20180724,2018-07-26 03:24:27,20180726.0,2018-07-26 14:31:00,20180726.0,2018-08-07 15:27:45,20180807.0,2018-08-13,20180813,2021-02-23,postgres,None,None
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,20180808,2018-08-08 08:55:23,20180808.0,2018-08-08 13:50:00,20180808.0,2018-08-17 18:06:29,20180817.0,2018-09-04,20180904,2021-02-23,postgres,None,None
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,20171118,2017-11-18 19:45:59,20171118.0,2017-11-22 13:39:59,20171122.0,2017-12-02 00:28:42,20171202.0,2017-12-15,20171215,2021-02-23,postgres,None,None
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,20180213,2018-02-13 22:20:29,20180213.0,2018-02-14 19:46:34,20180214.0,2018-02-16 18:17:02,20180216.0,2018-02-26,20180226,2021-02-23,postgres,None,None
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,20170709,2017-07-09 22:10:13,20170709.0,2017-07-11 14:58:04,20170711.0,2017-07-26 10:57:55,20170726.0,2017-08-01,20170801,2021-02-23,postgres,None,None
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,20170411,2017-04-13 13:25:17,20170413.0,NaT,NaN,NaT,NaN,2017-05-09,20170509,2021-02-23,postgres,None,None
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:30,20170516,2017-05-16 13:22:11,20170516.0,2017-05-22 10:07:46,20170522.0,2017-05-26 12:55:51,20170526.0,2017-06-07,20170607,2021-02-23,postgres,None,None
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,20170123,2017-01-25 02:50:47,20170125.0,2017-01-26 14:16:31,20170126.0,2017-02-02 14:08:10,20170202.0,2017-03-06,20170306,2021-02-23,postgres,None,None
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,20170729,2017-07-29 12:05:32,20170729.0,2017-08-10 19:45:24,20170810.0,2017-08-16 17:14:30,20170816.0,2017-08-23,20170823,2021-02-23,postgres,None,None